<h1>Complain</h1>
<div class="row">
    <div class="col m8 l8 s12">
        <h5>// Title //</h5>
        <dt style="margin-left:30px;">//&nbsp;<strong style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; font-variant-ligatures: normal; orphans: 2; text-align: justify; widows: 2; background-color: rgb(255, 255, 255);">Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an .&nbsp;//</dt>
    </div>
</div>
<div class="row">
    <form>
        <div class="col s12 input-field m8 l8">
            <textarea class="materialize-textarea"></textarea>
            <label for="comment">Enter your comment here.</label>
        </div>
        <div class="col s12 m5 l5">
            <a class="btn">Save</a>
        </div>
    </form>
</div>