<div class="jumbotron">
    <h1>Complaint</h1>
    <h3>{{complain.title}}</h3>
    <dt style="margin-left:30px;">{{complain.description}}</dt>
    <form action="/complain/admin/{{complain.id}}" method="post">
        <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" name='comment' rows="3" placeholder="Enter ..."></textarea>
        </div>
        <div class="col s12 m5 l5">
            <button class="btn" type="submit">Save</button>
        </div>
    </form>
</div>