<h1>Complain</h1>
<form>
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-dns"></i>
            <input type="text" id="title">
            <label for="title">Title</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-description"></i>
            <textarea id="description" class="materialize-textarea"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-turned-in-not"></i>
            <div class="input-field col offset-m1 offset-l1 m6 s6 l6">
                <select style="padding-left: 30px;">
                    <option value="" disabled selected>Select Complain Category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <button class="waves-effect btn teal">Submit</button>
</form>
</div>