<h1>Complain</h1>
<div class="row">
    <ul class="collapsible">
        {{#each complains}}
        <li>
            <div class="collapsible-header">{{this.title}}</div>
            <div class="collapsible-body">
                <p>{{this.description}}</p>
                <p style="margin-left:50px"><a href="/complain/{{this.id}}">View the Complain >></a></p>
            </div>
        </li>
        {{/each}}
    </ul>
</div>