<div class="container" ng-controller="PaymentHistoryCtrl">
    <div class="row">
        <div class="col m6">
            <h3 class="page-header">Payment History</h3>
        </div>
    </div>

    <div class="row">
        <div class="col m4 input-field">
            <input class="datepicker" id="startDate" ng-model="start" type="date"/>
            <label for="startDate">From</label>
        </div>
        <div class="col m4 input-field">
            <input class="datepicker" id="endDate" ng-model="end" type="date"/>
            <label for="endDate">To</label>
        </div>
        <div class="col m4 input-field">
            <select id="connections" ng-model="connection" type="date">
                <option ng-repeat="connection in connections" val="">
                    [[connection]]
                </option>
            </select>
            <label for="startDate">Connection</label>
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Connection</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="record in records">
                    <td>[[record.connection]]</td>
                    <td>[[record.date]]</td>
                    <td>[[record.amount]]</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

<script src="js/paymentHistoryRegistered.js"></script>