<h1>Request Connection</h1>
<form>
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="name" type="text" class="validate">
            <label for="name">Telephone No</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="addLine1" type="text" class="validate">
            <label for="addLine1">Address Line 1</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="addLine2" type="text" class="validate">
            <label for="addLine2">Address Line 2</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="street" type="text" class="validate">
            <label for="street">Street</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="city" type="text" class="validate">
            <label for="city">City</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <input id="disctict" type="text" class="validate">
            <label for="name">District</label>
        </div>
    </div>
    <div class="row">
        <a class="btn">Submit</a>
    </div>
</form>