
<h1 style="align:center">Report Breakdown</h1>
<form name="formk" method="post" action="/breakdownPost" onsubmit="return validateForm()">
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-input"></i>
            <input id="area" type="text" class="validate" name="area">
            <label for="area">Area</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-description"></i>
            <textarea id="description" class="materialize-textarea" name="description"></textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="row">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>

<script src="js/breakDownValidator.js"></script>

