
<h1 style="align:center">Report Breakdown</h1>
<form name="formk" method="post" action="/breakdownPost" onsubmit="return validateForm()">
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-input"></i>
            <select class="form-control select2" id="area" name="area">
            </select>
            <label for="area">Area</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-description"></i>
            <textarea id="description" class="materialize-textarea" name="description"></textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="row">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/api/get/areas",
            dataType: 'jsonp',
            async: true,
            success: function (result) {
                var temp = [];
                for (var i = 0; i < result.length; i++) {
                    var t = {};
                    t["id"] = result[i].id;
                    t["text"] = result[i].name;
                    temp.push(t);
                }
                areas = temp;
                console.log(temp);
                $("#area").select2({
                    data: temp,
                    maximumSelectionLength: temp.length - 1
                });
            }
        });
    });
</script>
<script src="js/breakDownValidator.js"></script>

