<h1 style="align=center">Report Breakdown</h1>
<form method="post" action="/breakdownPost">
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-input"></i>
            <div class="input-field col offset-m1 offset-l1" data-pg-collapsed>
                <select style="padding-left: 30px;">
                    <option value="" disabled selected>Choose your area</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-device-gps-fixed"></i>
            <input id="landmarks">
            <label for="landmarks">Landmarks</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-description"></i>
            <textarea id="description" class="materialize-textarea" name="description"></textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="row">
    </div>
    <a class="waves-effect btn blue">Submit</a>
</form>
</div>
