<h2 class="center-align">Pay Invoice</h2>
<div class="row">
    <h2 class="center-align">
        <a href="http://www.credit-card-logos.com"><img alt="" title="<br />
            <b>Notice</b>:  Undefined variable: alt_tag in <b>/home/ccl606/public_html/index.html</b> on line <b>59</b><br />
        " src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_10.gif" width="251" height="50" border="0" /></a>
    </h2>
    <div class=".center-align">
        <form class="col s12 offset-s3">
            <div class="row">
                <div class="input-field col s6">
                    <input id="amount" type="text" class="validate">
                    <label for="amount">Amount</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 ">
                    <input id="card_name" type="text" class="validate">
                    <label for="card_name">Name on Card</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password">Security Code</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="postal_code" type="email" class="validate">
                    <label for="postal_code">Zip/Postal code</label>
                </div>
            </div>
            <button class="submit btn col s6" type="submit">Pay</button>
        </form>
    </div>
</div>