<div class="container">
    <div class="slider col s16">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align">
                    <h3>We Care For You</h3>
                    <h5 class="light grey-text text-lighten-3">Think different</h5>
                    <div class="jumbotron text-center center-align">

                        <p>Login or Register with:</p>

                        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                    <h3>We Care For You</h3>
                    <h5 class="light grey-text text-lighten-3">We find ways</h5>
                    <div class="jumbotron text-center center-align">

                        <p>Login or Register with:</p>

                        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                    <h3>We Care For You</h3>
                    <h5 class="light grey-text text-lighten-3">The customer is always and completely rigth</h5>
                    <div class="jumbotron text-center center-align">

                        <p>Login or Register with:</p>

                        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align">
                    <h3>We Care For You</h3>
                    <h5 class="light grey-text text-lighten-3">The happiest place on earth</h5>
                    <div class="jumbotron text-center center-align">

                        <p>Login or Register with:</p>

                        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
</script>
