<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        {{#if message.length }}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="input-field col s12 m6">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>

            <div class="input-field col s12 m6">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="input-field col s12 m6">
                <label>NIC Number</label>
                <input type="text" class="form-control" name="customer_id">
            </div>

            <div class="input-field col s12 m6">
                <input class="with-gap" type="radio" name="signupChioce" id="already" value="already" checked>
                <label for="already">Already a Customer</label>

                <input class="with-gap" type="radio" name="signupChioce" id="new_customer" value="new_customer">
                <label for="new_customer">New Customer</label>
            </div>

            <div id="moreField" style="display:none;">
                <div class="input-field col s12 m6">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name">
                </div>
                <div class="input-field col s12 m6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name">
                </div>

            </div>
            <div class="input-field">
                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </div>

        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
    <script>
        $(function () {
            $("input:radio[name=signupChioce]").change(function () {
                if (this.value == 'already') {
                    $("#moreField").slideToggle();
                }
                else if (this.value == 'new_customer') {
                    $("#moreField").slideToggle();
                }
            });
        });
    </script>
</div>