<!-- Dropdown Trigger -->
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Sort by Date</a></li>
    <li class="divider"></li>
    <li><a href="#!">Sort by Area</a></li>
    <li class="divider"></li>
    <li><a href="#!">Not Finished</a></li>
</ul>

