<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <!--Powercut-->
            <li class="active treeview">
                <a href="/powercuts">
                    <i class="fa fa-dashboard"></i> <span>Power Cut</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/powercuts"><i class="fa fa-circle-o"></i>Create New</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li class="active"><a href="/admin/powercuts"><i class="fa fa-circle-o"></i>All</a></li>
                </ul>
            </li>
            <!--New Connections-->
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Connection</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/addnewconnection"><i class="fa fa-circle-o"></i>Add New</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li class="active"><a href="/admin/connectionrequest"><i class="fa fa-circle-o"></i>Accept Request</a></li>
                </ul>
            </li>
            <!--Payments-->
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Payments</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/admin/addBill"><i class="fa fa-circle-o"></i>Add Bill</a></li>
                </ul>
            </li>
            <!--Complain-->
            <li class="active treeview">
                <a href="/complain">
                    <i class="fa fa-dashboard"></i> <span>Complaints</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Complain"><i class="fa fa-circle-o"></i>All</a></li>
                </ul>
            </li>

            <!--Breakdown-->
            <li class="active treeview">
                <a href="/breakdownView">
                    <i class="fa fa-dashboard"></i> <span>Breakdowns</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/breakdownView"><i class="fa fa-circle-o"></i>Breakdown View</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>