<header>
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">User<i class="material-icons right">arrow_drop_down</i> </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li>
                            <a href="#!">User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!">Login</a>
                        </li>
                        <li>
                            <a href="#!">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="nav-mobile1" class="side-nav fixed" style="width: 240px;">
        <li class="logo">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="/img/logo.png" alt="logo" height="80px">
            </a>
        </li>
        <li class="bold">
            <a href="/connectionRequest" class="waves-effect" style="padding-left: 16px">Request Connection</a>
        </li>
        <li class="bold">
            <a href="/breakdownreport" class="waves-effect" style="padding-left: 16px">Report Breakdown</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect" >Complain</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="/complain/">All Complain</a>
                            </li>
                            <li>
                                <a href="/complain/create">Add New</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect" >Payments</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="/paymentHistoryRegistered">History</a>
                            </li>
                            <li>
                                <a href="/addPayments">Add Payment</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

