<header>
    <nav>
        <div class="nav-wrapper teal">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">User<i class="material-icons right">arrow_drop_down</i> </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li>
                            <a href="#!">User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!">Login</a>
                        </li>
                        <li>
                            <a href="#!">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="nav-mobile1" class="side-nav fixed" style="width: 240px;">
        <li class="logo">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="/img/logo.png" alt="logo" height="80px">
            </a>
        </li>
        <li class="bold" >
            <a href="#" class="waves-effect waves-teal" style="padding-left: 16px">First Link</a>
        </li>
        <li class="bold">
            <a href="/connectionRequest" class="waves-effect" style="padding-left: 16px">Request Connection</a>
            <a href="#" class="waves-effect waves-teal" style="padding-left: 16px">Second Link</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" >Third Link</a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#" class="waves-effect waves-teal">Third, First</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect waves-teal">Third, Second</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="bold active">
                    <a class="collapsible-header waves-effect active waves-teal">Components</a>
                    <div class="collapsible-body" style="display: block;">
                        <ul>
                            <li>
                                <a class="waves-effect waves-teal" href="#parallax">Parallax</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

