<div class="box box-primary" style="max-width: 70%" ng-controller="ConnectionEntryCtrl">
    <form>
        <div class="box-header with-border">
            <h3 class="box-title">Add New Connection</h3>
        </div>

        <form role="form">
            <div class="box-body">
                <div class="form-group" style="max-width: 50%">
                    <label for="accountNo">Account Number</label>
                    <input id="accountNo" type="text" ng-model="accountNo" class="form-control"
                           placeholder="Enter Account Number">
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="address1">Address Line-1</label>
                    <input id="address1" type="text" class="form-control" ng-model="address1"
                           placeholder="Address Line 1">
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="address2">Address Line-2</label>
                    <input id="address2" type="text" class="form-control" ng-model="address2"
                           placeholder="Address Line 2">
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="addressStreet">Street Number</label>
                    <input class="form-control" placeholder="Enter Street No" id="addressStreet" type="text"
                           ng-model="addressStreet">
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="city">City</label>
                    <input id="city" class="form-control" type="text" ng-model="city" placeholder="Enter Nearest City">
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="district">District</label>
                    <select name="district" class="form-control" id="district" ng-model="selDistrict">
                        <option ng-repeat="district in districts">[[district]]</option>
                    </select>
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="conType">Connection Type</label>
                    <select name="conType" class="form-control" id="conType" ng-model="connectionType">
                        <option ng-repeat="type in connectionTypes">[[type]]</option>
                    </select>
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="area">Area</label>
                    <select class="form-control" name="area" ng-model="selArea" id="area" type="text">
                        <option ng-repeat="area in allAreas track by $index">[[area]]</option>
                    </select>
                </div>

                <div class="form-group" style="max-width: 50%">
                    <label for="customer">Customer</label>
                    <select class="form-control" name="customer" ng-model="selCustomer" id="area" type="text">
                        <option ng-repeat="customer in allCustomers track by $index" value="[[customer.id]]">
                            [[customer.name]]
                        </option>
                    </select>
                </div>
            </div>

            <div class="box-footer">
                <button type="button" class="btn btn-primary" ng-click="publish()">Submit</button>
            </div>
        </form>
    </form>
</div>
<script src="js/connectionEntry.js"></script>