<div class="container" ng-controller="PowerCutController">
    <div class="row">
        <div class="col m12">
            <h3>Publish Power Cut</h3>
        </div>
    </div>

    <div class="row">
        <form class="col m12" action="">
            <div class="row">
                <div class="input-field col m6">
                    <label for="from_datetime">From</label>
                </div>

                <div class="input-field col m6">
                    <label for="to_datetime">To</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col m3">
                    <input id="from_datetime" type="date" ng-model="start_d"/>
                </div>
                <div class="input-field col m3">
                    <input id="from_datetime" type="time" ng-model="start_t"/>
                </div>

                <div class="input-field col m3">
                    <input id="to_datetime" type="date" ng-model="to_d"/>
                </div>
                <div class="input-field col m3">
                    <input id="to_datetime" type="time" ng-model="to_t"/>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <textarea ng-model="description" id="description" class="materialize-textarea" length="45"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m5 offset-m3">
                    <input ng-model="newArea" id="area" type="text" list="areas" placeholder="Enter affected areas" />
                    <datalist id="areas">
                        <div ng-repeat="area in allAreas track by $index">
                            <option>[[area]]</option>
                        </div>
                    </datalist>
                    <label for="area">Area</label>
                </div>

                <div class="col m1 section"><button onclick="return false;" ng-click="addNewArea()" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></button></div>
            </div>

            <div class="row">
                <div class="col m10 offset-m1">
                    <ul class="collection">
                        <div ng-repeat="area in areas track by $index">
                            <li class="collection-item"><div>[[area]]<a href="#!" class="secondary-content"><i ng-click="removeArea($index)" class="material-icons" style="color:red;">not_interested</i></a></div></li>
                        </div>

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col m3 offset-m4">
                    <a class="waves-effect waves-light btn blue" ng-click="publish()">Publish</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/publishPowerCut.js"></script>