<div class="container" ng-controller="PowerCutController">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Publish Power Cut</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label for="from_datetime1">From</label>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="date" class="form-control pull-right" id="from_datetime1" ng-model="start_d">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="input-group time">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="time" class="form-control pull-right" id="from_datetime2" ng-model="start_t">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="to_datetime">To</label>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="date" class="form-control pull-right" id="to_datetime3" ng-model="to_d">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="input-group time">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="time" class="form-control pull-right" id="to_datetime" ng-model="to_t">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="max-width: 65%">
                        <label for="description">Description</label>
                        <textarea class="form-control" placeholder="Enter Description" ng-model="description" id="description" class="materialize-textarea" length="45"></textarea>
                    </div>

                    <div class="form-group" style="max-width: 65%">
                        <label for="area">Area</label>
                    </div>

                    <div class="container">
                        <div class="col-md-3">
                            <div class="form-group">
                                <select name="area" ng-model="newArea" id="area" class="form-control">
                                    <option ng-repeat="area in allAreas track by $index">[[area]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <!--add button not responsive!!-->
                            <button type="button" ng-click="addNewArea()" onclick="return false;" class="btn btn-warning btn-sm" style="height: 28px">+</button>
                        </div>
                    </div>

                    <ul class="list-group">
                        <div ng-repeat="area in areas track by $index">
                            <li class="list-group-item" style="width: 70%;margin-left: 2%;">
                                <div>
                                    [[area]]
                                    <!--<button class="btn btn-google btn-xs" ng-click="removeArea($index)">-</button>-->
                                    <a class="pull-right" href="" data-placement="left" title="" style="color: rgb(255, 0, 0); font-size: 35px; margin-top: -3.2%;">×</a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>

                <div class="box-footer">
                    <button type="button" class="btn btn-primary" ng-click="publish()">Submit</button>
                </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="js/publishPowerCut.js"></script>
