<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administration</title>
    {{>adminhead}}
    {{>admintopnav}}
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="energy-monitor">
<div class="wrapper">
    {{>adminnavbar}}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {{{adminheader}}}
        </section>

        {{>adminscripts}}

        <!-- Main content -->
        <section class="content">
            {{{body}}}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.8
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div>
</body>
</html>
