<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EMS - {{pageTitle}}</title>
        {{>head}}
    </head>

    <body>
        {{>navbar}}
        <div class="container" style="padding-left:200px; padding-top:20px">
            {{{body}}}
        </div>
        {{>scripts}}
    </body>
</html>

