<h1>Register User</h1>
<form>
    <div class="row">
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-accessibility"></i>
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-account-circle"></i>
            <input id="user_id" type="text" class="validate">
            <label for="user_id">User ID</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-communication-email"></i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-extension"></i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="input-field col s8 m8 l8">
            <i class="material-icons prefix mdi-action-extension"></i>
            <input id="confirm_password" type="password" class="validate">
            <label for="confirm_password">Confirm Password</label>
        </div>
    </div>
    <div class="row">
    </div>
    <a class="waves-effect btn">Submit</a>
</form>